defaults
    mode http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:80
    redirect scheme https if !{ ssl_fc }

frontend https_front
    bind *:443 ssl crt /usr/local/etc/haproxy/ssl-certs/haproxy.pem
    default_backend flask_backend

backend flask_backend
    balance roundrobin  # Optional: Use round-robin balancing (default)
    server flask_server1 mysql-flask_app-1:5000 check
    server flask_server2 mysql-flask_app-2:5000 check
    server flask_server3 mysql-flask_app-3:5000 check

